doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Who Is My Government?
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/font-awesome.css', rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
  body
    // Wrap all page content here
    #wrap
      // Fixed navbar
      .navbar.navbar-default.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header
            a.navbar-brand(href='#') Who Is My Rep?
          .collapse.navbar-collapse
            ul.nav.navbar-nav
    #content
     block content
    #footer
      .container
        p.text-muted.credit.navbar-inverse
          
    //
       Bootstrap core JavaScript
    //================================================== 
    // Placed at the end of the document so the pages load faster
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/index.js')