doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Who Is My Rep?
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/font-awesome.css', rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
    script(src='/js/jquery.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
    script(src='/js/bootstrap.min.js')
 body
    #wrap
      header.navbar.navbar-default.navbar-fixed-top
       div.america
        div.america2
         div.america3
          .container
            .navbar-header
              a.navbar-brand(href='#') Who Is My Rep?
            .collapse.navbar-collapse
              ul.nav.navbar-nav
    #content
     block content
    .container
     .map 
      #map-canvas
    #footer
      .container
        p.text-muted.credit.navbar-inverse
    script(src='/js/index.js')    
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-64695006-1', 'auto');
     ga('send', 'pageview');