extends layout
block content
 .container
  .row.vertical-center-row
   .col-lg-12
    .search
     .page-header
      h1 SEARCH BY ZIP
     form(name="search", method="post")
      input(name='zip',placeholder='Enter Zip')
     p