/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

@font-face {
font-family: BebasNeueBold;
src: url("/fonts/BebasNeue Bold.otf") format("opentype");
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#ECECEE;
  color:#000;
}
#content {padding:50px 0 50px 0;}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}
span{
    font-weight:bold;
}


.rep i{
font-size:26px;
color:#2E4359;
padding-left:12px;
line-height:25px;
}

.rep i:hover{
  color:#B5191D;
}

h1{
    font-family:BebasNeueBold; 
    font-size:30px;
    line-height:30px;
}

div.R
{
  border:2px solid #B5191D;
}

div.D{
  border:2px solid #2E4359;
}

.rep{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  min-height:180px;
}

.rep span{
      font-family:BebasNeueBold; 
      font-size:20px;
}

.face {
  width: 110px;
  margin-right: 15px;
  padding-right: 4px;
  float:left;
}

a.navbar-brand{
  font-family:BebasNeueBold;
  font-size: 35px;
  line-height: 35px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.page-header{
  border-bottom:none;
}

.col-md-4{
  margin-bottom:10px;
}



@media screen and (min-width: 300px) {
    /* Remove the padding we set earlier */
    .col-md-4 {
        min-height: 200px;
    }
}

@media screen and (max-width: 315px) {
    /* Remove the padding we set earlier */
    h1 {
    font-size:24px;
    }

    .col-md-4 {
        min-height: 160px;
    }
    .face{
        width:75px;
    }
}