/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#content {padding-top:25px;}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #191210;
}
span{
    font-weight:bold;
}

.twitter_icon{
    height:25px;
    margin-bottom:15px;
}
.phone {
    padding: 5px 5px 0 0;
    font-size:25px;
}
.face {
    border: 2px;
    border-color: red;
    width:115px;
padding: 5px 12px 2px 0;
float:left;
}
.youtube {
    color:red;
font-size:26px;
}
.website {
font-size:26px;
padding-left:2px;
}
.facebook {
font-size:28px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media screen and (min-width: 300px) {
    /* Remove the padding we set earlier */
    .col-md-4 {
        height: 200px;
    }
}

@media screen and (max-width: 315px) {
    /* Remove the padding we set earlier */
    h1 {
    font-size:24px;
    }

    .col-md-4 {
        height: 125px;
    }
    .face{
        width:75px;
    }
}