/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#ECECEE;
  color:#000;
}
#content {padding:50px 0 50px 0;}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}
span{
    font-weight:bold;
}


.rep i{
font-size:26px;
color:#2E4359;
padding-left:10px;
line-height:25px;
}

.rep i:hover{
  color:#B5191D;
}

div.R
{
  border:2px solid #B5191D;
}

div.D{
  border:2px solid #2E4359;
}


.face {
    width:115px;
padding: 5px 12px 15px 0;
float:left;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.rep{
  padding: 10px;
  width: 90%;
  height: 90%;
  background-color: #6E6E71;
  margin-left: auto;
  margin-right: auto;
}

.page-header{
  border-bottom:1px solid #B5191D;
}



@media screen and (min-width: 300px) {
    /* Remove the padding we set earlier */
    .col-md-4 {
        height: 200px;
    }
}

@media screen and (max-width: 315px) {
    /* Remove the padding we set earlier */
    h1 {
    font-size:24px;
    }

    .col-md-4 {
        height: 125px;
    }
    .face{
        width:75px;
    }
}